version: "3.9"
services:
  db:
    image: postgres
    hostname: 'devops-postgres'
    ports:
        - "5432:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  backend:
    build:
      context: .
      dockerfile: Dockerfile-backend
    ports:
      - "8000:8000"
    environment:
      #- DB_DB=postgres
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
    depends_on:
      - db

