version: "3.9"
services:
  db:
    container_name: 'devops-postgres'
    image: postgres
    hostname: 'devops-postgres'
    ports:
        - "5432:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  backend:
    container_name: 'devops-backend'
    build:
      context: .
      dockerfile: Dockerfile-backend
    ports:
      - "8000:8000"
    environment:
      - DB_DATABASE=postgres
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
    depends_on:
      - db
  frontend:
    container_name: 'devops-frontend'
    build:
      context: .
      dockerfile: Dockerfile-frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_BASE=:8000
    depends_on:
      - backend

